In [2]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import os
from functools import reduce

## Reading Files
All the indicator files has been uplaoded from my local directories.

In [44]:
os.chdir('D:/Intern FL-DSSG Summer 2020/Episcopal Children Services Project/Data Collected/Cleaned Data')
## reading all the cleaned datasets

# Income = Poverty, Low income, SNAP/Free lunch/
# Minority = Disability, language, race
# Home = Homeless, foster care, current children information
# Family= mother's education level, pregancy/Children under 5 years, unemployed, unisured, low birth weight, single parent


df_poverty_2018 = pd.read_excel('Poverty_Level_2018.xlsx')
df_FoodStamps_Final = pd.read_csv('FoodStamps final.csv')

df_Disability = pd.read_excel('Disability.xlsx')
df_Language_Final = pd.read_csv('Language final.csv')
#df_Race = pd.read_csv('Race_ACSDP5Y2018.DP05_data_with_overlays_2020-06-09T091724.csv')
df_Citizenship = pd.read_excel('Citizenship final.xlsx')

df_Foster_Children_2018= pd.read_excel('Foster_Children_Final.xlsx')

df_Education = pd.read_excel('Education.xlsx')
df_Pregnancy = pd.read_csv('Pregnant.csv')
df_Unemployment_Rate = pd.read_excel('Unemployment Rate_2018.xlsx')
df_Birth_Weight = pd.read_excel('Low Birth Weights.xlsx')
df_Uninsured_Data = pd.read_excel('Uninsured_Data_2018.xlsx')
df_Marital_Status = pd.read_excel('Marital Status.xlsx')
df_age_below_5_years = pd.read_csv('Age_ACSDP5Y2018.DP05_data_with_overlays_2020-06-09T091724.csv')

In [46]:
df_Disability.TRACT.dtypes

dtype('int64')

## Merging multiple datasets based on TRACT.
All indicator files have 'Tract',''Geographic Area Name', 'Zip Code' in common. So all the files are merged in to one single file based on the 'TRACT'.

In [67]:

dfs = [df_poverty_2018,df_FoodStamps_Final,
       df_Disability,df_Language_Final,df_Race,df_Citizenship,
       df_Foster_Children_2018,
       df_Education,df_Pregnancy,df_Unemployment_Rate,df_Birth_Weight,df_Uninsured_Data,df_Marital_Status,df_age_below_5_years]
df = reduce(lambda left,right: pd.merge(left,right,on='TRACT'), dfs)
df.columns

Index(['TRACT', 'Geographic Area Name_x',
       'Estimate!!Total!!Population for whom poverty status is determined',
       'Estimate!!Below poverty level!!Population for whom poverty status is determined',
       'Estimate!!Percent below poverty level!!Population for whom poverty status is determined',
       'Geographic Area Name_y', 'Estimate!!Total!!Households',
       'Estimate!!Households receiving food stamps/SNAP!!Households',
       'Estimate!!Total!!Households!!With children under 18 years',
       'Estimate!!Households receiving food stamps/SNAP!!Households!!With children under 18 years',
       'Geographic Area Name_x', 'Disability Under 5 Years',
       'Geographic Area Name_y',
       'Estimate!!Total!!Population 5 years and over',
       'Estimate!!Percent of specified language speakers!!Speak English less than very well"!!Population 5 years and over"',
       'Estimate!!Total!!Population 5 years and over!!Speak a language other than English',
       'Estimate!!Total!!Population 5 years and over!!SPEAK A LANGUAGE OTHER THAN ENGLISH!!Spanish',
       'Estimate!!Total!!Population 5 years and over!!SPEAK A LANGUAGE OTHER THAN ENGLISH!!Other Indo-European languages',
       'Estimate!!Total!!Population 5 years and over!!SPEAK A LANGUAGE OTHER THAN ENGLISH!!Asian and Pacific Island languages',
       'Estimate!!Total!!Population 5 years and over!!SPEAK A LANGUAGE OTHER THAN ENGLISH!!Other languages',
       'Geographic Area Name_x', 'Estimate!!RACE!!Total population',
       'Estimate!!RACE!!Total population!!One race!!White',
       'Estimate!!RACE!!Total population!!One race!!Black or African American',
       'Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native',
       'Estimate!!RACE!!Total population!!One race!!Asian',
       'Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)',
       'Geographic Area Name_y',
       'Estimate!!Total!!Total population 5 years and over',
       'Estimate!!Total!!Total population 5 years and over!!NATIVITY AND CITIZENSHIP STATUS!!Foreign born',
       'Estimate!!Total!!Total population 5 years and over!!NATIVITY AND CITIZENSHIP STATUS!!Foreign born!!Naturalized U.S. citizen',
       'Estimate!!Total!!Total population 5 years and over!!NATIVITY AND CITIZENSHIP STATUS!!Foreign born!!Not a U.S. citizen',
       'Geographic Area Name_x', 'Estimate!!Total',
       'Estimate!!Total!!Foster child or other unrelated child',
       'Geographic Area Name_y', 'Total Population 18 and over',
       'Education Level (Highscool Degree Only or Below)',
       'Geographic Area Name_x', 'Estimate!!Total!!Women 15 to 50 years',
       'Estimate!!Women with births in the past 12 months!!Number!!Women 15 to 50 years',
       'Estimate!!Percent of women who had a birth in the past 12 months who were unmarried!!Women 15 to 50 years',
       'Estimate!!Total!!Women 15 to 50 years!!15 to 19 years',
       'Estimate!!Women with births in the past 12 months!!Number!!Women 15 to 50 years!!15 to 19 years',
       'Estimate!!Percent of women who had a birth in the past 12 months who were unmarried!!Women 15 to 50 years!!15 to 19 years',
       'Estimate!!Women with births in the past 12 months!!Number!!Women 15 to 50 years!!20 to 34 years',
       'Estimate!!Percent of women who had a birth in the past 12 months who were unmarried!!Women 15 to 50 years!!20 to 34 years',
       'Estimate!!Women with births in the past 12 months!!Number!!Women 15 to 50 years!!35 to 50 years',
       'Estimate!!Percent of women who had a birth in the past 12 months who were unmarried!!Women 15 to 50 years!!35 to 50 years',
       'Geographic Area Name_y',
       'Estimate!!EMPLOYMENT STATUS!!Population 16 years and over',
       'Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Civilian labor force!!Unemployed',
       'Percent Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Civilian labor force!!Unemployed',
       'Low BirthWeights', 'Geographic Area Name_x',
       'Estimate!!Total!!Civilian noninstitutionalized population!!EMPLOYMENT STATUS!!Civilian noninstitutionalized population 19 to 64 years',
       'Estimate!!Uninsured!!Civilian noninstitutionalized population!!EMPLOYMENT STATUS!!Civilian noninstitutionalized population 19 to 64 years',
       'Estimate!!Percent Uninsured!!Civilian noninstitutionalized population!!EMPLOYMENT STATUS!!Civilian noninstitutionalized population 19 to 64 years',
       'Geographic Area Name_y',
       'Estimate!!Total!!Population 15 years and over',
       'Estimate!!Now married (except separated)!!Population 15 years and over',
       'Estimate!!Divorced!!Population 15 years and over',
       'Estimate!!Separated!!Population 15 years and over',
       'Geographic Area Name', 'Estimate!!SEX AND AGE!!Total population',
       'Percent Estimate!!SEX AND AGE!!Total population',
       'Estimate!!SEX AND AGE!!Total population!!Under 5 years',
       'Percent Estimate!!SEX AND AGE!!Total population!!Under 5 years'],
      dtype='object')

In [73]:
## selecting required column and changing column names

df_Columns = df[['TRACT',
                     'Geographic Area Name_x',

                       'Estimate!!Below poverty level!!Population for whom poverty status is determined',
                       'Estimate!!Households receiving food stamps/SNAP!!Households!!With children under 18 years',

                       'Disability Under 5 Years',
                       'Estimate!!Total!!Population 5 years and over',
                       'Estimate!!Percent of specified language speakers!!Speak English less than very well"!!Population 5 years and over"',
                       'Estimate!!Total!!Population 5 years and over!!Speak a language other than English',
                       'Estimate!!Total!!Population 5 years and over!!SPEAK A LANGUAGE OTHER THAN ENGLISH!!Spanish',
                       'Estimate!!Total!!Population 5 years and over!!SPEAK A LANGUAGE OTHER THAN ENGLISH!!Other Indo-European languages',
                       'Estimate!!Total!!Population 5 years and over!!SPEAK A LANGUAGE OTHER THAN ENGLISH!!Asian and Pacific Island languages',
                       'Estimate!!Total!!Population 5 years and over!!SPEAK A LANGUAGE OTHER THAN ENGLISH!!Other languages',
#                        'Estimate!!RACE!!Total population',
#                        'Estimate!!RACE!!Total population!!One race!!White',
#                        'Estimate!!RACE!!Total population!!One race!!Black or African American',
#                        'Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native',
#                        'Estimate!!RACE!!Total population!!One race!!Asian',
#                        'Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)',

                       'Estimate!!Total!!Total population 5 years and over!!NATIVITY AND CITIZENSHIP STATUS!!Foreign born!!Naturalized U.S. citizen',
                       'Estimate!!Total!!Total population 5 years and over!!NATIVITY AND CITIZENSHIP STATUS!!Foreign born!!Not a U.S. citizen',

                       'Estimate!!Total!!Foster child or other unrelated child',
                       
                       'Education Level (Highscool Degree Only or Below)',
                       'Estimate!!Women with births in the past 12 months!!Number!!Women 15 to 50 years',
                       'Low BirthWeights',
                       'Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Civilian labor force!!Unemployed',
                       'Estimate!!Uninsured!!Civilian noninstitutionalized population!!EMPLOYMENT STATUS!!Civilian noninstitutionalized population 19 to 64 years',
                       'Estimate!!Divorced!!Population 15 years and over',
                       'Estimate!!Separated!!Population 15 years and over',
                       'Estimate!!SEX AND AGE!!Total population!!Under 5 years',
]]

In [92]:
## dropping the geo name and merging using TRACT
df_final  = df_Columns.drop(df_Columns.columns[[1]], axis=1)
df_TRACT_NAME = df_poverty_2018[['TRACT','Geographic Area Name']]
df_final= df_TRACT_NAME.merge(df_final, on = 'TRACT', how = 'inner')
df_final.head()

,TRACT,Geographic Area Name,Estimate!!Below poverty level!!Population for whom poverty status is determined,Estimate!!Households receiving food stamps/SNAP!!Households!!With children under 18 years,Disability Under 5 Years,Estimate!!Total!!Population 5 years and over,"Estimate!!Percent of specified language speakers!!Speak English less than very well""!!Population 5 years and over""",Estimate!!Total!!Population 5 years and over!!Speak a language other than English,Estimate!!Total!!Population 5 years and over!!SPEAK A LANGUAGE OTHER THAN ENGLISH!!Spanish,Estimate!!Total!!Population 5 years and over!!SPEAK A LANGUAGE OTHER THAN ENGLISH!!Other Indo-European languages,...,Estimate!!Total!!Total population 5 years and over!!NATIVITY AND CITIZENSHIP STATUS!!Foreign born!!Not a U.S. citizen,Estimate!!Total!!Foster child or other unrelated child,Education Level (Highscool Degree Only or Below),Estimate!!Women with births in the past 12 months!!Number!!Women 15 to 50 years,Low BirthWeights,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Civilian labor force!!Unemployed,Estimate!!Uninsured!!Civilian noninstitutionalized population!!EMPLOYMENT STATUS!!Civilian noninstitutionalized population 19 to 64 years,Estimate!!Divorced!!Population 15 years and over,Estimate!!Separated!!Population 15 years and over,Estimate!!SEX AND AGE!!Total population!!Under 5 years
0,12031000100,"Census Tract 1, Duval County, Florida",1593,323,13.0,5004,137,360,288,0,...,202,0,902,0,69,453,768,22.3,6.4,487
1,12031000200,"Census Tract 2, Duval County, Florida",855,185,0.0,2283,28,52,38,0,...,29,20,655,56,37,207,334,14.8,5.1,99
2,12031000300,"Census Tract 3, Duval County, Florida",998,136,0.0,2137,0,32,14,0,...,0,0,699,60,28,154,467,15,6.1,271
3,12031000600,"Census Tract 6, Duval County, Florida",1761,390,0.0,5415,983,1293,444,39,...,866,11,1121,186,53,150,999,12.7,4.5,488
4,12031000700,"Census Tract 7, Duval County, Florida",754,75,0.0,3926,198,434,94,73,...,296,0,237,64,22,123,349,10.3,2.7,324

In [93]:
df_final.columns = ['TRACT',
                    'Geographic Area Name',
                    'Poverty Level',
                    'Food Stamps',
                    'Disability under 5 years',
                    'Total population 5 years and over',
                    'Speak English less than very well',
                    'Other than english',
                    'Spanish',
                    'Indo-European languages',
                    'Asian and Pacific Island languages',
                    'Other languages',
#                     'Estimate!!RACE!!Total population',
#                     'White',
#                     'Black or African American',
#                     'American Indian and Alaska Native',
#                     'Asian',
#                     'Hispanic or Latino (of any race)',
                    'Estimate!!Total!!Total population 5 years and over!!NATIVITY AND CITIZENSHIP STATUS!!Foreign born!!Naturalized U.S. citizen',
                        'Estimate!!Total!!Total population 5 years and over!!NATIVITY AND CITIZENSHIP STATUS!!Foreign born!!Not a U.S. citizen',
                'Foster Children',
                    'Education Level (Highscool Degree Only or Below)',
                    'Pregancy',
                    'Low BirthWeights',
                    'Unemployment',
                    'Uninsured',
                    'Divorced!!Population 15 years and over',
                    'Seperated!!Population 15 years and over',
                    'Age below 5 Years'
                   ]

In [95]:
df_final.to_excel('ECS merged Dataset Final.xlsx')

In [62]:
df_final

,TRACT,Geographic Area Name,Poverty Level,Food Stamps,Disability under 5 years,Total population 5 years and over,Speak English less than very well,Other than english,Spanish,Indo-European languages,...,Estimate!!Total!!Total population 5 years and over!!NATIVITY AND CITIZENSHIP STATUS!!Foreign born!!Naturalized U.S. citizen,Foster Children,Education Level (Highscool Degree Only or Below),Pregancy,Low BirthWeights,Unemployment,Uninsured,Divorced!!Population 15 years and over,Seperated!!Population 15 years and over,Age below 5 Years
0,12031000100,"Census Tract 1, Duval County, Florida",1593,323,13.0,5004,137,360,288,0,...,435,0,902,0,69,453,768,22.3,6.4,487
1,12031000200,"Census Tract 2, Duval County, Florida",855,185,0.0,2283,28,52,38,0,...,35,20,655,56,37,207,334,14.8,5.1,99
2,12031000300,"Census Tract 3, Duval County, Florida",998,136,0.0,2137,0,32,14,0,...,0,0,699,60,28,154,467,15,6.1,271
3,12031000600,"Census Tract 6, Duval County, Florida",1761,390,0.0,5415,983,1293,444,39,...,285,11,1121,186,53,150,999,12.7,4.5,488
4,12031000700,"Census Tract 7, Duval County, Florida",754,75,0.0,3926,198,434,94,73,...,166,0,237,64,22,123,349,10.3,2.7,324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,12031017100,"Census Tract 171, Duval County, Florida",1065,74,0.0,5671,143,369,257,99,...,143,12,600,54,14,179,468,14.6,0.9,212
170,12031017200,"Census Tract 172, Duval County, Florida",847,34,0.0,1901,62,254,49,64,...,134,0,284,7,7,65,447,25.4,4,116
171,12031017300,"Census Tract 173, Duval County, Florida",984,199,0.0,6414,86,220,134,74,...,323,41,1028,79,49,188,489,15.4,2.2,406
172,12031017400,"Census Tract 174, Duval County, Florida",1009,140,0.0,2302,40,115,38,49,...,0,19,542,59,51,180,383,11.6,7.5,158
173,12031990000,"Census Tract 9900, Duval County, Florida",0,0,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,-,-,0

## joining ECS Merged Dataset Final and ZipCodes for Duval County

In [27]:
os.chdir('D:/Intern FL-DSSG Summer 2020/Episcopal Children Services Project/Data Collected/Cleaned Data')
df_ECS_Final = pd.read_csv('ECS merged Dataset Final - 07.20.2020.csv')
df_ZipCodes_Duval = pd.read_excel('Census_Co-ordinates_by_ZIP_Duval.xlsx')
df_ZipCodes_Duval = df_ZipCodes_Duval[['ZIP','TRACT']]
df_ZipCodes_Duval = df_ZipCodes_Duval.rename(columns={'ZIP':'Zip Code'})

In [29]:
df_ECS_Final_merged_ZipCodes = df_ECS_Final.merge(df_ZipCodes_Duval, on = 'TRACT', how = 'left')
df_ECS_Final_merged_ZipCodes.drop_duplicates('TRACT', keep = 'first', inplace = True)

In [40]:
df_ECS_Final_merged_ZipCodes['Zip Code'].nunique()

35

In [38]:
df_ECS_Final_merged_ZipCodes.to_excel('ECS Dataset.xlsx')

In [41]:
df_ECS_Final_merged_ZipCodes

,TRACT,Geographic Area Name,Poverty Level,Food Stamps,Disability under 5 years,Total population 5 years and over,Speak English less than very well,Other than english,Spanish,Indo-European languages,...,Uninsured,Divorced,Seperated,Age below 5 Years,Population 0-5,Free Lunch Students,"Low Income Tract (1=yes, 0=no)",Food Dessert,No Vehicle,Zip Code
0,12031000100,"Census Tract 1, Duval County, Florida",1593,323,13,5004,137,360,288,0,...,768,22.3,6.4,487,487,NaN,1,1743.396556,420,32206
45,12031000200,"Census Tract 2, Duval County, Florida",855,185,0,2283,28,52,38,0,...,334,14.8,5.1,99,155,NaN,1,1783.696402,210,32206
64,12031000300,"Census Tract 3, Duval County, Florida",998,136,0,2137,0,32,14,0,...,467,15.0,6.1,271,331,NaN,1,1699.117202,163,32206
78,12031000600,"Census Tract 6, Duval County, Florida",1761,390,0,5415,983,1293,444,39,...,999,12.7,4.5,488,674,226.0,1,1500.356103,418,32247
102,12031000700,"Census Tract 7, Duval County, Florida",754,75,0,3926,198,434,94,73,...,349,10.3,2.7,324,388,NaN,0,1120.011684,96,32207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4005,12031016808,"Census Tract 168.08, Duval County, Florida",316,67,0,3416,324,804,409,228,...,480,17.9,2.2,130,167,NaN,0,676.967011,67,32223
4017,12031017100,"Census Tract 171, Duval County, Florida",1065,74,0,5671,143,369,257,99,...,468,14.6,0.9,212,266,225.0,0,726.091554,655,32204
4047,12031017200,"Census Tract 172, Duval County, Florida",847,34,0,1901,62,254,49,64,...,447,25.4,4.0,116,123,NaN,1,966.039802,427,32205
4207,12031017300,"Census Tract 173, Duval County, Florida",984,199,0,6414,86,220,134,74,...,489,15.4,2.2,406,485,542.0,0,0.000000,193,32220
4312,12031017400,"Census Tract 174, Duval County, Florida",1009,140,0,2302,40,115,38,49,...,383,11.6,7.5,158,217,51.0,1,2077.743683,291,32202